.gradle/
build/
**/build/
local.properties
*.iml
.idea/
.gradle/
.DS_Store
/.idea
/.gradle
.gradle/**
**/*.keystore
.gradle
.gradle/
.gradle/*

# Android
/.cxx/
.externalNativeBuild/
/captures/
output.json

# Kotlin/Java
*.class
*.jar

# Ignore Gradle wrapper jar if you prefer not to commit it
# gradle/wrapper/gradle-wrapper.jar

# macOS
.DS_Store

# Node
node_modules/

# Zip or binaries you may want to exclude
# SICENET-Autenticacion.zip
